<!DOCTYPE html>
<html>
  <head>
    <title>AnotherCodeBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Sacramento" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <nav class=”navbar navbar-default navbar-fixed-top”>
      <div class = "container">
        <img src=”app/assets/images/deskbackground.jpg” class=”img-responsive” alt=”Responsive image”>
        <div class = "row" class = ".col-s-12 .col-m-4">
        </div> <!--row-->
      </div> <!--container-->
    </nav>
    <%= yield %>
  </body>
</html>
